body {
    font-family: sans-serif;
    background: linear-gradient(#c9eac3, #e5f7e2);
    height: 100vh;
    margin: 0;
    position: relative;
}


.card {
    position: absolute;
    top: 50%;
    left: calc(52% + 180px);
    /* Rechts van de kalender */
    transform: translateY(-50%);
    /* Verticaal centreren */
    background-color: #2d2b2b;
    color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px 25px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 360px;
    scale: 1.1;
}

.info {
    flex: 1;
}

.plant-name {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.timer {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 5px;
}

.ml {
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    background-color: #28a745;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.water-bar {
    width: 30px;
    height: 100px;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: #f0f0f0;
    overflow: hidden;
    position: relative;
}

.water {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #007bff;
    transition: height 0.5s ease;
}

select {
    width: 100%;
    margin-bottom: 10px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#alert {
    margin-top: 8px;
    font-weight: bold;
    color: red;
}

.loader {
    position: fixed;
    /* Zorgt dat het altijd zichtbaar blijft */
    top: 20px;
    left: 130px;
    z-index: 1000;
    /* Zorgt dat het boven andere elementen ligt */
    scale: 0.9;
}

.loader span {
    position: absolute;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 38px;
    letter-spacing: 5px;
}

.loader span:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 0.3px rgb(0, 57, 244);
}

.loader span:nth-child(2) {
    color: rgb(0, 4, 255);
    -webkit-text-stroke: 1px rgb(17, 0, 255);
    animation: uiverse723 3s ease-in-out infinite;
}

@keyframes uiverse723 {

    0%,
    100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%,
                54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%,
                51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}